html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  background-color: $color-white;
  margin: 0;
}

main {
  div {
    color: $color-anthrazit;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}
