.intro {
  padding: $section-padding-mobile;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(media-xl) {
    padding: $section-padding-desktop;
  }
}

.container {
  width: 50vw;
  min-width: 300px;

  &.left {
    @include respond(media-md) {
      margin-right: 3vw;
      max-width: 600px;
    }

    &.narrow {
      @include respond(media-md) {
        margin-right: auto;
        max-width: 400px;
      }
    }
  }

  &.right {
    &.narrow {
      @include respond(media-md) {
        margin-left: 3vw;
        margin-right: auto;
        max-width: 400px;
      }
    }
  }
}

.invitation {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond(media-md) {
    flex-direction: row;
  }

  @include respond(media-xl) {
    width: 90vw;
  }

  @include respond(media-xxl) {
    width: 70vw;
    max-width: 2000px;
  }
}

.invitation-box {
  width: 155px;
  margin-right: auto;

  @include respond(media-lg) {
    width: 200px;
  }
}

.invitation-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 450px;
}

.time {
  padding: 0 20px;
}

.intro-pic {
  width: 45vw;
  max-width: 800px;
  min-width: 250px;
  display: flex;
  margin-top: 26px;

  @include respond(media-md) {
    margin-top: 0px;
  }

  &.coffee-shop {
    margin-left: auto;
    margin-bottom: 7vh;
  }

  &.coffee-plant {
    margin-right: auto;

    @include respond(media-md) {
      margin-top: 0px;
    }
  }

  &.coffee-machine {
    margin-left: auto;
  }
}

.promise {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond(media-md) {
    flex-direction: row-reverse;
    align-items: center;
  }

  @include respond(media-xl) {
    width: 90vw;
  }

  @include respond(media-xxl) {
    width: 70vw;
    max-width: 2000px;
  }
}
