.intro {
  padding: $section-padding-mobile;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(media-xl) {
    padding: $section-padding-desktop;
  }
}

.container {
  width: 60vw;

  p {
    max-width: 600px;
  }
}

.invitation {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond(media-md) {
    flex-direction: row;
  }

  @include respond(media-xl) {
    width: 90vw;
  }

  @include respond(media-xxl) {
    width: 70vw;
    max-width: 2000px;
  }
}

.invitation-box {
  width: 155px;
  margin-right: auto;

  @include respond(media-lg) {
    width: 200px;
  }
}

.invitation-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  max-width: 450px;
}

.time {
  padding: 0 20px;
}

.intro-pic {
  width: 40vw;
  max-width: 800px;
  display: flex;
  margin-top: 40px;

  @include respond(media-md) {
    margin-top: 0px;
  }

  &.coffee-shop {
    margin-left: auto;
    margin-bottom: 40px;
  }

  &.coffee-plant {
    margin-right: auto;
  }
}

.promise {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond(media-md) {
    flex-direction: row-reverse;
  }

  @include respond(media-xl) {
    width: 90vw;
  }

  @include respond(media-xxl) {
    width: 70vw;
    max-width: 2000px;
  }

  h3, p {
    @include respond(media-md) {
      margin-left: 10vw;
    }
  }
}
