.ipp {
    padding: 80px 25px;

    @include respond(media-lg) {
      padding: 165px 310px 125px 310px;
    }
}

.ipp-content {
    @include respond(media-lg) {
        width: 50vw;
        margin: auto;
        max-width: 1000px;
      }
}