.origin {
    padding: $section-padding-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @include respond(media-xl) {
      padding: $section-padding-desktop;
    }
  }

.area {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    @include respond(media-md) {
      flex-direction: row;
    }
  
    @include respond(media-xl) {
      width: 90vw;
    }
  
    @include respond(media-xxl) {
      width: 70vw;
      max-width: 2000px;
    }
  }

.fairness {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    @include respond(media-md) {
      flex-direction: row-reverse;
    }
  
    @include respond(media-xl) {
      width: 90vw;
    }
  
    @include respond(media-xxl) {
      width: 70vw;
      max-width: 2000px;
    }

    h3 {
        width: 300px;
    }
  }

.origin-pic {
    width: 50vw;
    max-width: 800px;
    min-width: 250px;
    display: flex;
    margin-top: 26px;
  
    @include respond(media-md) {
        margin-top: 10vh;
    }
  
    &.coffee-plant-2 {
      margin-left: auto;
      margin-bottom: 7vh;

      @include respond(media-md) {
        margin-bottom: 15vh;
    }
    }
  
    &.coffee-worker {
      margin-right: auto;
    }
  }