<footer class="footer">
    <div class="content-width">
        <div class="logo-box-footer">
            <object type="image/svg+xml" data="/images/_elements/logo.svg" alt="Logo" class="logo-footer">Your browser does not support SVGs</object>
        </div>
        <div class="footer-content">
            <div class="footer-box b1">
                <h3 class="light">
                    <span class="heading-main">Rustica</span>
                    <span class="heading-sub">Café & Rösterei</span>
                </h3>
            </div>
            <div class="footer-invitation b2">
                <div class="footer-box">
                    <p class="light-footer">Komm uns besuchen!</p>
                    <p class="light-footer">Fraunhoferstr. 13, Kiel</p>
                </div>
                <div class="footer-box">
                    <p class="light-footer">Mo – Fr 8–18 Uhr</p>
                    <p class="light-footer">Sa 11–18 Uhr</p>
                </div>
            </div>
            <div class="footer-box b3">
                <a href="#">Impressum</a>
                <a href="#">Datenschutz</a>
            </div>
            <div class="footer-box b4">
                <a href="/das-cafe/index.html">Café</a>
                <a href="/shop/index.html">Shop</a>
                <a href="/herkunft/index.html">Herkunft</a>
            </div>
        </div>
    </div>
</footer>