<header class="header">
    <div class="logo-box">
      <object type="image/svg+xml" data="/images/_elements/logo.svg" alt="Logo" class="logo">Your browser does not support SVGs</object>
    </div>
    <nav class="navigation">
        <a href="/das-cafe/index.html" class="nav-link">das Café</a>
        <a href="/herkunft/index.html" class="nav-link">Herkunft</a>
        <a href="/shop/index.html" class="nav-link">Shop</a>
    </nav>
    <div class="content-box">
      <h1>
        <span class="heading-main">Rustica</span>
        <span class="heading-sub">Bio und Fair seit 1991</span>
      </h1>
      <a href="#" class="btn btn-dark">zum Shop</a>
    </div>
</header>