.btn:link,
.btn:visited {
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding: 15px 50px 15px 50px;

  &.btn-dark {
    color: $color-white;
    background-color: $color-anthrazit;
    background: linear-gradient(to right, $color-brown-grey 50%, $color-anthrazit 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    width: 63px;
  
    &:hover {
      background-position: left bottom;
    }

    &:active {
      background-color: $color-kraftpapier;
    }
  }

  &.btn-border {
    color: $color-white;
    border: 3px solid $color-white;
    background-color: $color-anthrazit;
    background: linear-gradient(to right, $color-white 50%, $color-anthrazit 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    align-self: center;
    width: 82px;
  
    &:hover {
        background-position: left bottom;
        color: $color-anthrazit;
    }

    &:active {
      color: $color-white;
      background-color: $color-kraftpapier;
    }
  }
}