.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(media-xl) {
    width: 90vw;
    left: 50%;
    margin-left: -45vw;
  }

  @include respond(media-xxl) {
    width: calc(70vw + 50px);
    max-width: 2000px;
    left: 50%;
    margin-left: -35vw;
  }
}

.logo {
  height: 35px;
  width: 35px;

  @include respond(media-xxl) {
    height: 40px;
    width: 40px;
  }
}

.navigation {
  display: flex;
  align-self: flex-end;
  z-index: 100;
  top: 0;
  right: 0;

  a {
    color: $color-white;
    text-decoration: none;
    font-weight: 500;
    padding: 20px 60px;

    @include respond(media-xxl) {
      font-size: $font-size-text;
    }

    &::after {
      content: " ";
      width: 0;
      height: 1px;
      border-bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      display: block;
    }

    &:hover::after {
      visibility: visible;
      width: 100%;
    }

    &.active::after {
      visibility: visible;
      width: 100%;
    }
  }
}
