// ------ desktop navigation ------ //

.navbar {
  display: none;
}

@include respond(media-md) {

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(media-xl) {
    width: 90vw;
    left: 50%;
    margin-left: -45vw;
  }

  @include respond(media-xxl) {
    width: calc(70vw + 50px);
    max-width: 2000px;
    left: 50%;
    margin-left: -35vw;
  }

  .cart-btn {
    margin-right: 25px;
  }
}

.nav-desktop {
  display: flex;
  z-index: 100;
  top: 0;
  right: 0;
  margin-left: auto;

  a {
    color: $color-white;
    text-decoration: none;
    font-weight: 500;
    padding: 20px 60px;

    &.dark {
      color: $color-anthrazit;

      &::after {
        background-color: $color-anthrazit;
      }
    }

    @include respond(media-xxl) {
      font-size: $font-size-text;
    }

    &::after {
      content: " ";
      width: 0;
      height: 1px;
      border-bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      display: block;
    }

    &:hover::after {
      visibility: visible;
      width: 100%;
    }

    &.active::after {
      visibility: visible;
      width: 100%;
    }
  }
}
}