.navigation {
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
  
    a {
      color: $color-white;
      text-decoration: none;
      font-weight: 500;
      padding: 20px 60px;
  
      &::after {
        content: ' ';
        width: 0;
        height: 1px;
        border-bottom: 0;
        left: 0;
        background-color: #FFF;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        display: block;
      }
    
      &:hover::after {
        visibility: visible;
        width: 100%;
      }
  
      &.active::after {
        visibility: visible;
        width: 100%;
      }
    }
    
  }