// Colors
$color-white: #fff;
$color-anthrazit: #1A1A1A;
$color-kraftpapier: #D7BE9D;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-orange: #D77C12;
$color-medium-grey: #737373;
$color-light-grey: #E9E9E9;

// Font-Sizes
$font-size-h1: 6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.625rem;
$font-size-text: 1.125rem;