@import "abstracts/variables";
@import "abstracts/mixins";
@import "base";
@import "components/hero";
@import "components/buttons";
@import "components/typo";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: auto 25px;
  font-size: $font-size-text-m;
  line-height: 1.3;
  color: $color-anthrazit;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: flex-end;

  .nav-link {
    color: $color-white;
    text-decoration: none;
    padding: 20px 60px;
  }
}

.header {
  background-image: url(../images/coffee-latte-art2.jpg);
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: relative;
  margin-bottom: 60px;
}

.logo-box {
  position: absolute;
  display: flex;
  top: 10px;
  left: 25px;
}

.logo {
  height: 35px;
  fill: $color-white;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

.intro {
  padding: 0 25px;
}

.invitaion {
  display: flex;
}

.time {
  padding: 0 20px;
}

.intro-pic {
  width: 250px;
  display: flex;
  margin-top: 40px;

  &.coffee-shop {
    margin-left: auto;
    margin-bottom: 40px;
  }

  &.coffee-plant {
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.product-overview {
  background-color: $color-anthrazit;
  padding-top: 60px;
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product-pic {
  display: flex;
  width: 155px;
}

.product-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}






