// Colors
$color-white: #fff;
$color-anthrazit: #1A1A1A;
$color-kraftpapier: #D7BE9D;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-orange: #D77C12;
$color-medium-grey: #737373;
$color-light-grey: #E9E9E9;
$color-brown-grey: #3A3734;

// Font-Sizes
$font-size-h1: 6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.625rem;
$font-size-text: 1.125rem;

$font-size-h1-m: 4rem;
$font-size-h2-m: 2.25rem;
$font-size-h3-m: 2rem;
$font-size-text-m: 0.875rem;

// Media Queries
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1920px;