// Colors
$color-white: #fff;
$color-anthrazit: #1A1A1A;
$color-kraftpapier: #D7BE9D;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-orange: #D77C12;
$color-medium-grey: #737373;
$color-light-grey: #E9E9E9;
$color-brown-grey: #3A3734;
$color-black: #000;

// Font-Sizes
$font-size-h1: 6rem;        // 96px
$font-size-h2: 3rem;        // 48px
$font-size-h3: 2.625rem;    // 42px
$font-size-text: 1.125rem;  // 18px

$font-size-h1-m: 4rem;      // 64px
$font-size-h2-m: 2.25rem;   // 36px
$font-size-h3-m: 2rem;      // 32px
$font-size-text-m: 0.875rem;    //14px

// Media Queries
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1920px;